@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap");

:root {
  --header-bg-color: #ffdcb6;
  --main-bg-color: #ecc9ee;
  --footer-font-size: small;
  --square-bg-color: #1b211a;
  --square-font-color: #e2dfd0;
}

* {
  font-family: "Roboto";
}

body {
  min-height: 100dvh;
  display: grid;
  width: 100%;
  grid-template-rows: auto 4fr auto;
  grid-template-columns: 100%;
}

.header {
  background-color: var(--header-bg-color);
  display: grid;
  place-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* H-Offset V-Offset Blur Color */
}

.main {
  background-color: var(--main-bg-color);
  display: grid;
  place-content: center;
}

.footer {
  background-color: var(--header-bg-color);
  font-size: var(--footer-font-size);
  display: grid;
  place-content: center;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1); /* Negative V-Offset for top shadow */
}

/* Game board */
.game-container {
  display: grid;
  grid: repeat(3, min-content) / repeat(3, min-content);
  gap: 0.5rem;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(2rem, 15vw, 6rem);
  height: 100px;
  width: 100px;
  border: 1px solid black;
  background-color: var(--square-bg-color);
  color: var(--square-font-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Apply transition to all changes over 0.3 seconds with an ease timing function */
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.square:hover {
  /* Lifts the card up (-10px on the Y axis) and makes it slightly bigger (1.05 times its size) */
  transform: translateY(-10px) scale(1.05);
  /* Increases the shadow to give a sense of elevation */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}
