@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap");

:root {
  --header-bg-color: #ffdcb6;
  --main-bg-color: #ecc9ee;
  --footer-font-size: small;
  --square-bg-color: #1b211a;
  --square-font-color: #e2dfd0;
  --player-bg-color: #d2c1b6;
}

* {
  font-family: "Roboto";
}

body {
  min-height: 100dvh;
  display: grid;
  width: 100%;
  grid-template-rows: auto 4fr auto;
  grid-template-columns: 100%;
}

.header {
  background-color: var(--header-bg-color);
  display: grid;
  place-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* H-Offset V-Offset Blur Color */

  position: sticky;
}

.main {
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-rows: min-content auto;
}

.footer {
  background-color: var(--header-bg-color);
  font-size: var(--footer-font-size);
  display: grid;
  place-content: center;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1); /* Negative V-Offset for top shadow */

  position: sticky;
}

.game-header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: 0.2rem;
}
.player-one {
  background-color: var(--player-bg-color);
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.player-one > p:first-child {
  font-style: italic;
  font-weight: bold;
}
.player-one > p:last-child {
  background-color: var(--square-bg-color);
  color: var(--square-font-color);
  padding: 0.1rem;
  border-radius: 5px;
}

.player-two {
  background-color: var(--player-bg-color);
  border-radius: 10px;
  padding: 0.5rem;
  text-align: end;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.player-two > p:first-child {
  font-style: italic;
  font-weight: bold;
}
.player-two > p:last-child {
  background-color: var(--square-bg-color);
  color: var(--square-font-color);
  padding: 0.1rem;
  border-radius: 5px;
  text-align: start;
}

/* Game board */
.game-container {
  display: grid;
  grid: repeat(3, min-content) / repeat(3, min-content);
  gap: 0.5rem;
  place-self: center;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(2rem, 15vw, 6rem);
  height: 125px;
  width: 125px;
  border: 1px solid black;
  background-color: var(--square-bg-color);
  color: var(--square-font-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Apply transition to all changes over 0.3 seconds with an ease timing function */
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
}

.square:hover {
  /* Lifts the card up (-10px on the Y axis) and makes it slightly bigger (1.05 times its size) */
  transform: translateY(-10px) scale(1.05);
  /* Increases the shadow to give a sense of elevation */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.square:active {
  transform: translateY(2px) scale(0.98); /* Moves button down slightly and shrinks */
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.24); /* Removes shadow to complete the "pressed" look */
}

.dancing-cat {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Scales the image to cover the container, cropping excess */
  object-position: center; /* Centers the image within the container (default) */
}

/* Dialog */
#setup {
  border-radius: 10px;
  border: 5px solid black;
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}

.form-section {
  display: grid;
  grid: auto auto / auto auto;
  row-gap: 1rem;
}

/* Dialog buttons */
.dialog-button {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );

  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin-top: 0.2rem;
  font-size: larger;
  /* Apply transition to all changes over 0.3 seconds with an ease timing function */
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.dialog-button:hover {
  /* Lifts the card up (-10px on the Y axis) and makes it slightly bigger (1.05 times its size) */
  transform: translateY(-2px) scale(1.05);
  /* Increases the shadow to give a sense of elevation */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.dialog-button:active {
  transform: translateY(2px) scale(0.98); /* Moves button down slightly and shrinks */
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.24); /* Removes shadow to complete the "pressed" look */
}

#close-dialog {
  margin-top: 1rem;
}
